<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello !</h1>
        <p>Highly skilled in C#, .NET, MSSQL and Angular. An expert at creative problem-solving, wanted member of teams, self motivated and lifelong learner. Exchanging of ideas with other colleagues. Looking for an opportunity in an innovative company with passionate colleagues like me. 
        </p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Address</h2>
          <p>Küçükçekmece, İSTANBUL
          </p>
         
        </div>
        <div class="col-md-4">
          <h2>Phone</h2>
          <p> (+90) 544 492 15 88 </p>
        </div>
        <div class="col-md-4">
          <h2>Mail</h2>
          <p>leventcafen@hotmail.com</p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>