<main role="main" class="container">
    <div class="jumbotron">
        <h1>EXPERIENCE </h1>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">ATP Dijital Dönüşüm, ​İstanbul - ​ Software Development Specialist </strong>
              FEBRUARY 2020 -PRESENT
              ●   	Backend development by using C#, ASP.NET, MSSQL,   Entity Framework Core
              ●   	Frontend development by using Angular 8,Typescript,  Javascript, CSS              
            </p>
          </div>
          <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Overtech Information Technologies, ​İstanbul - ​Software Developer</strong>
              JULY  2018 – FEBRUARY 2020
              ●   	Backend development by using C#, ASP.NET, MSSQL,   Entity
                  Framework
              ●   	Frontend development by using Angular 8,Typescript,  Javascript, CSS              
            </p>
          </div>
          <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">CPM YAZILIM, ​İstanbul - ​Intern</strong>
              JULY 2017 - SEPTEMBER 2017
              ● Backend development by using C#, ASP.NET,   Entity Framework                     
            </p>
          </div>
      </div>
  </main>